

nav {
    align-items: center;
    background-color: #ed221f;
    border: 1px solid;
    border-color: black;
    display: flex;
    height: 7em;
    width: 100%;
    padding: 32px;
    position: relative;
    top: 0;
    justify-content: center;
}

.lupa_nav{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input_search_nav{
    align-self: flex-start;
    background-color: white;
    cursor: pointer;
    height: 2.5em;
    margin-left: 1.5em;
    width: 25em;
    border: none;
    justify-content: center;
    display: flex;
    align-items: center;

}

.personajes_nav{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20em;
}

.album_nav{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5em;
}

.mi_album_nav {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5em;
}

.cuenta_nav{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5em;
}

a {
    color: black !important;
    text-decoration: none !important;
}



main {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(237, 34, 31, 1) 100%);
    width: 100%; /* Establece el ancho al 100% de la ventana gráfica */
    position: relative;
    top: 0;
    justify-content: center;
    overflow: hidden; /* Para evitar que el gradiente se desborde en la página */
}

.logo_main{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 13em;
    padding: 2em 0 0 2em; /* top, right, bottom, left */
}



/* Mueve el pseudo-elemento al contenedor de la cuadrícula */
.container:before {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
    padding-top: 20em;
}


.margen{
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 15em;
}


.title{
    color: black;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
}

.center{
    display: flex;
    justify-content: center;
}

.inicia_sesion{
    color: #2c2cb4 !important;
    margin-left: 10px;
}

/* CSS classes for styling the form */
.custom-form {
    width: 50%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

.card-subtitle {
    font-size: 1.2em;
}

.text-center{
    text-align: center;
}





