<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Marlvel Wiki</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../style/home.css">
</head>
<body>

	<nav>
		<img id="lupa_img_nav" class="lupa_nav" src="../images/home_page/lupa.png"/>
		<input id="input_search_nav" class="input_search_nav"/>
		<a href="personajes.html"><div id="personajes_nav" class="personajes_nav">PERSONAJES</div></a>
		<a href="album.html"><div id="album_nav" class="album_nav">ALBUMS</div></a>
		<a href="mi_album.html"><div id="mi_album_nav" class="mi_album_nav">MI ALBUM</div></a>
		<a href="register.html"><img id="cuenta_nav" class="cuenta_nav" src="../images/home_page/account.png"></a>
	</nav>

	<main>
		<img class="logo_main" src="../images/home_page/logoMarvel.png"/>
		<img id="flecha_izquierda_home_page" class="flecha_izquierda" src="../images/home_page/izquierda.png">
		<div class="main_cards">
			<img id="imagen_personaje_home_page" class="img_card" src="../images/home_page/spiderMan.png">
			<div class="contenido_card">
				<h2 id="titulo_personaje_home_page">SPIDERMAN</h2>
				<p id="descripcion_personaje_home_page">Spider-Man, traducido en ocasiones como el Hombre Araña,es un personaje creado por los estadounidenses Stan Lee y Steve Ditko e introducido en el cómic Amazing Fantasy n.° 15, publicado por Marvel Comics en agosto de 1962</p>
			</div>
		</div>
		<img id="flecha_derecha_home_page" class="flecha_derecha" src="../images/home_page/derecha.png">
	</main>
</body>
</html>