<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Personajes</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../style/personajes.css">
</head>
<body>

	<nav>
		<img id="lupa_img_nav" class="lupa_nav" src="../images/home_page/lupa.png"/>
		<input id="input_search_nav" class="input_search_nav"/>
		<a href="personajes.html"><div id="personajes_nav" class="personajes_nav">PERSONAJES</div></a>
		<a href="album.html"><div id="album_nav" class="album_nav">ALBUMS</div></a>
		<a href="mi_album.html"><div id="mi_album_nav" class="mi_album_nav">MI ALBUM</div></a>
		<a href="cuenta.html"><img id="cuenta_nav" class="cuenta_nav" src="../images/home_page/account.png"></a>
	</nav>

	<main>
		<a href="index.html"><img class="logo_main" src="../images/home_page/logoMarvel.png"/></a>
		<div class="container margen">
			<div id="columnas_personajes" class="row">
				<div class="col-md-4">
					<img class="imagen_personajes" src="../images/home_page/spiderMan.png"/>
				</div>
				<div class="col-md-4">
					<img class="imagen_personajes" src="../images/home_page/spiderMan.png"/>
				</div>
				<div class="col-md-4">
					<img class="imagen_personajes" src="../images/home_page/spiderMan.png"/>
				</div>
				<div class="con-espacio-entre-filas"></div>
				<div class="col-md-4">
					<img class="imagen_personajes" src="../images/home_page/spiderMan.png"/>
				</div>
				<div class="col-md-4">
					<img class="imagen_personajes" src="../images/home_page/spiderMan.png"/>
				</div>
				<div class="col-md-4">
					<img class="imagen_personajes" src="../images/home_page/spiderMan.png"/>
				</div>
				<div class="con-espacio-entre-filas"></div>
				<div class="col-md-4">
					<img class="imagen_personajes" src="../images/home_page/spiderMan.png"/>
				</div>
				<div class="col-md-4">
					<img class="imagen_personajes" src="../images/home_page/spiderMan.png"/>
				</div>
				<div class="col-md-4">
					<img class="imagen_personajes" src="../images/home_page/spiderMan.png"/>
				</div>
				<div class="con-espacio-entre-filas"></div>
			</div>
		</div>
	</main>
</body>
</html>